# Лабораторная работа №2. Вывод символов на экран дисплея.

1. Разработать программу на языке ассемблера, которая выводит на экран заданную строку $S$ в обратном порядке. 
2. Разработать программу на языке ассемблера, в которой заполнить память $N$ заданными символами, вывести их в виде матрицы по $M$ символов в строке и $K$ строк
3. В задании 2 вывести символы в виде треугольника. Например, для 21 символа "8":
                            8
                            88
                            888
                            8888
                            88888
                            888888
4. Разработать программу на языке ассемблера, в которой для заданного числа $N$ найти сумму его цифр и вывести результат на экран.
5. Разработать программу аналогичную заданию 4 на языке программирования C. Провести сравнение размеров исполняемых файлов. Постараться сократить размер исполняемого файла на языке ассемблера и на языке С.

**Отчет оформить в jupyter notebook, вставляя в кодовые ячейки исходный код и дополняя его скриншотами экранных форм, подтверждающих его работоспособность.**

In [100]:
import random as rd
import pandas as pd
import math

Variant = 1
rd.seed(Variant)
Str1 = 'qwertyuioplkjhgfdsazxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM'
N = rd.randint(20,40)
s1 = ''
for i in range(N):
    s1 += Str1[rd.randint(0, len(Str1)-1)]
D = '!@#$%&*+:;|'[rd.randint(0,10)]
N1 = rd.randint(3,30)
N2 = int(N1 * (N1 + 1) / 2)
if (int(N2/N1) - math.floor(N2/N1)) == 0:
    M = int(N2 / N1)
    K = int(N2 / M)
else:
    M = int(N2 / (N1 + 1))
    K = int(N2 / M)
N4 = rd.randint(123432, 5645634534)
Data  = pd.DataFrame({'Задание':[1,2,3,4,5],'Параметры':['S='+s1,[D, 'N='+str(N2), 
                    'M ='+str(M), 'K = '+str(K)],'-','N='+str(N4),'-']})
Data

   Задание                   Параметры
0        1  S=AMVtdiYVETHnNhuYwnWDVBqL
1        2     [+, N=66, M =6, K = 11]
2        3                           -
3        4                N=5277616985
4        5                           -